// Theme Common CSS Starts Here
* {
	outline: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: $white-color;
	overflow-x: hidden;
}

::selection {
	background: $primary-color;
	color: $white-color;
}

ol,
ul {
	list-style-type: none;
	margin: 0px;
}

img {
	vertical-align: middle;
	border: 0;
}

a,
a:hover,
a:focus {
	text-decoration: none;
}

a,
button,
select {
	cursor: pointer;
	transition: 0.3s all linear;

	&:focus {
		outline: 0;
	}
}

// Theme Common CSS Ends Here
