/*  typography Starts Here*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

body {
    line-height: 1.2;
    font-family: $primary-font;
    font-size: 16px;
    color: $secondary-color;
    -webkit-font-smoothing: antialiased;
}

p,
.paragraph {
    font-family: $primary-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.9;
    color: $secondary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $primary-font;
    font-weight: 700;
    color: $secondary-color;
    line-height: 1.2;
}

h1,
.h1 {
    font-size: 52px;
}

h2,
.h2 {
    font-size: 42px;
}

h3,
.h3 {
    font-size: 32px;
}

h4,
.h4 {
    font-size: 24px;
}

h5,
.h5 {
    font-size: 16px;
}

h6,
.h6 {
    font-size: 14px;
}

/*  typography Ends Here*/